@import './tools/_normalize';
@import './tools/_variables';
@import './partials/_navbar';
@import './partials/_header';
@import './partials/_services';
@import './partials/_testimonials';
@import './partials/_contactSection';
@import './partials/_directors';
@import './partials/_contactForm';
@import './partials/_footer';

html,
body {
  font-family: $fontFamily;
}