#clients {
  padding: $paddingMobile;
  background: $sacramentoStateGreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  position: relative;
  overflow: hidden;

  .section-title {
    @include h2Small;
    margin-top: 3rem;
  }

  .clients-wrapper {
    margin: 3rem;
    display: flex;
    flex-direction: column;

    .client-logo {
      width: 80%;
      margin: 2rem auto;

      &:first-of-type {
        margin-top: 1rem;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .bg-pattern {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }
}

// tablet media queries
@media screen and (min-width: 48rem) {
  #clients {
    padding-left: 40px;
    padding-right: 40px;

    .clients-wrapper {
      display: grid !important;
      grid-template-columns: repeat(5, 1fr);
      margin: 2rem 0;

      .client-logo {
        margin: 0 !important;
        align-self: center;
        justify-self: center;

        &:last-of-type {
          width: 50%;
        }
      }
    }

    .bg-pattern {
      transform: translate(0, -50%);
    }
  }
}