#contact-section {
  background-color: $lightCoral;
  color: $sacramentoStateGreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: $paddingMobile;
  position: relative;
  overflow: hidden;

  .section-title {
    @include h2Small;
  }

  .contact-btn {
    text-decoration: none;
    border: 2px solid $sacramentoStateGreen;
    color: $sacramentoStateGreen;
    padding: 1rem 2rem;
    border-radius: 50px;
    @include transition;
    cursor: pointer;
    margin-bottom: 2rem;

    &:hover {
      color: $white;
      background: $sacramentoStateGreen;
    }
  }

  .bg-pattern {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(15%);
  }
}

@media screen and (min-width: 48rem) {
  #contact-section {
    flex-direction: row;
    justify-content: space-around;
    padding: 4.5rem 4rem;

    .section-title {
      margin-top: 0;
      margin-bottom: 0;
    }

    .contact-btn {
      margin-bottom: 0;
    }
  }
}

// desktop media queries
@media screen and (min-width: 90rem) {
  #contact-section {
    .section-title {
      @include h2Large;
    }

    .contact-btn {
      @include p1;
    }
  }
}