#contact-form {
  padding: $paddingMobile;
  display: flex;
  flex-direction: column;
  background: $midnightGreen;
  text-align: center;
  color: $white;
  position: relative;
  overflow: hidden;

  .page-title {
    @include h1Small;

    span {
      color: $lightCoral;
      @include h2Small;
    }
  }

  .contact-desc {
    padding: 3rem 0 1rem 0;

    .contact-info {
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;

      .contact-icon {
        flex: 1 1 20%;
      }

      p {
        @include p1;
        flex: 1 1 66%;
      }
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;

    input,
    textarea {
      width: 100%;
      margin-bottom: 1rem;
      padding: 1rem 0.875rem;
      background: transparent;
      border: none;
      color: rgba(255, 255, 255, 0.7);
      border-bottom: 1px solid $white;
      @include transition;

      &:focus {
        color: $white;
        border-color: $raptureBlue;
        outline: none;
      }

      &:invalid {
        color: rgba($color: $lightCoral, $alpha: 0.7);
        border-color: $lightCoral;
      }
    }

    .errorMsg {
      color: $lightCoral;
      align-self: flex-start;
      font-size: 10px;
      font-weight: 700;
    }

    .submit-btn {
      align-self: flex-start;
      margin-top: 2rem;
      transform: translateX(-1rem);
      background: $white;
      @include transition;
      width: 123px;
      height: 3rem;
      border-radius: 50px;
      border: none;
      @include p1;
      color: $deepJungleGreen;
      cursor: pointer;

      &:hover {
        background: $sacramentoStateGreen;
        color: $white;
      }
    }
  }

  .bg-pattern {
    position: absolute;
  }

  .top {
    display: none;
  }

  .bottom {
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
  }
}

// tablet media queries
@media screen and (min-width: 48rem) {
  #contact-form {
    padding-left: 8rem;
    padding-right: 8rem;

    .page-title {
      @include h1Medium;
      margin-bottom: 0;

      span {
        font-size: 2rem !important;
        line-height: 3rem;
      }
    }

    .contact-icon {
      flex-basis: 0 !important;
    }

    .top {
      display: block;
      top: 8%;
      left: 0;
      transform: translateX(-50%);
    }

    .bottom {
      transform: translate(50%, 0);
    }
  }
}

// desktop media queries
@media screen and (min-width: 90rem) {
  #contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 165px;
    padding-right: 165px;

    .page-title {
      text-align: left;
      margin-top: 0;
    }

    .form-container {
      margin-bottom: 50px;
    }
  }
}