#directors {
  padding: $paddingMobile;
  background: $deepJungleGreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  position: relative;
  overflow: hidden;

  .section-title {
    @include h2Small;
    margin-top: 3rem;
  }

  .directors-wrapper {
    margin: 3rem 0 2rem;
    width: 100%;

    .director-card {
      position: relative;
      margin-bottom: 6rem;

      &:last-of-type {
        margin-bottom: 3rem;
      }

      .director-name {
        color: $raptureBlue;
        @include h3;
        margin-bottom: 0;
      }

      .front-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: $sacramentoStateGreen;
        padding: 2rem 0;
        position: relative;
        width: 100%;
        z-index: 33;

        .director-img {
          width: 96px;
          height: 96px;
          border: 2px solid #c4fffe;
          border-radius: 50%;
        }

        .director-job {
          @include p2;
          margin-bottom: 2rem;
        }

        .icon {
          width: 56px;
          height: 56px;
          background: $lightCoral;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          bottom: 0;
          position: absolute;
          transform: translateY(50%);
          @include transition;
          cursor: pointer;

          &:hover {
            background: $raptureBlue;
          }
        }
      }

      .back-side {
        background: $darkGreen;
        display: none;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2rem;
        position: absolute;
        z-index: 2;
        margin: auto;

        .director-quote {
          @include p2;
        }

        .social-links {
          display: flex;

          .link {
            font-size: 25px;
            color: $white;
            @include transition;
            margin: 1rem 0.5rem;

            &:hover {
              color: $lightCoral;
            }
          }
        }
      }
    }
  }

  .bg-pattern {
    position: absolute;
  }

  .top {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }

  .bottom {
    bottom: 0;
    right: 0;
  }
}

// tablet media queries
@media screen and (min-width: 48rem) {
  #directors {
    padding-left: 100px;
    padding-right: 100px;

    .directors-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;

      .director-card {
        margin-bottom: 3rem !important;
      }
    }

    .top {
      transform: translate(-50%, 0);
    }
  }
}