#directors {
  padding: $paddingMobile;
  background: $deepJungleGreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  position: relative;
  overflow: hidden;

  .section-title {
    @include h2Small;
    margin-top: 3rem;
  }

  .directors-wrapper {
    width: 100%;
    margin-bottom: 1rem;

    .director-card {
      position: relative;
      margin: 0 auto 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: perspective(1000px) rotateY(var(--rotate-y, 0));
      transform-style: preserve-3d;
      transition: 150ms;
      height: 253px;
      width: 327px;

      &:last-of-type {
        margin-bottom: 3rem;
      }

      .director-name {
        color: $raptureBlue;
        @include h3;
        margin-bottom: 0;
      }

      .front-side,
      .back-side {
        position: absolute;
        backface-visibility: hidden;
        text-align: center;
        padding: 2rem 0;
        width: 100%;
      }

      .front-side {
        background: $sacramentoStateGreen;

        .director-img {
          width: 96px;
          height: 96px;
          border: 2px solid #cafffe;
          border-radius: 50%;
        }

        .director-job {
          @include p2;
        }
      }

      .back-side {
        background: $darkGreen;
        transform: rotateY(180deg);

        .director-quote {
          @include p2;
          width: 80%;
          margin: auto;
        }

        .social-links {
          display: flex;
          justify-content: center;

          .link {
            font-size: 25px;
            color: $white;
            @include transition;
            margin: 1rem 0.5rem;

            &:hover {
              color: $lightCoral;
            }
          }
        }
      }
    }

    .flipped {
      --rotate-y: 180deg;
    }

    .icon {
      width: 56px;
      height: 56px;
      background: $lightCoral;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      transform: translateY(200%) rotate(0);
      margin-top: 1rem;
      @include transition;
      cursor: pointer;

      &:hover {
        background: $raptureBlue;
      }
    }

    .icon-flipped {
      background: $raptureBlue !important;

      svg {
        transform: rotate(45deg);
      }

      &:hover {
        background: $lightCoral !important;
      }
    }
  }

  .bg-pattern {
    position: absolute;
  }

  .top {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }

  .bottom {
    bottom: 0;
    right: 0;
  }
}

// tablet media queries
@media screen and (min-width: 48rem) {
  #directors {
    padding-left: 100px;
    padding-right: 100px;

    .directors-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      margin-bottom: 4rem !important;

      .director-card {
        margin-bottom: 0 !important;
        width: 281px !important;

        .back-side {
          padding-top: 0;
        }
      }
    }

    .top {
      transform: translate(-50%, 0);
    }
  }
}

@media screen and (min-width: 75rem) {
  .directors-wrapper {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media screen and (min-width: 90rem) {
  #directors {
    padding-left: 165px;
    padding-right: 165px;

    .section-title {
      @include h2Large;
    }

    .directors-wrapper {
      .director-card {
        width: 350px !important;

        .back-side {
          padding-top: 1rem;
        }
      }
    }
  }
}