.footer {
  background: $darkGreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $paddingMobile;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);

  .page-links {
    margin-top: 2rem;

    .link {
      text-decoration: none;
      @include p2;
      color: $white;
      cursor: pointer;
      padding: 0 1rem;
      @include transition;

      &:hover {
        color: $lightCoral;
      }
    }
  }

  .contact-info,
  .copyright {
    @include p2;
  }

  .social-links {
    width: 100%;
    display: flex;
    justify-content: center;

    .footer-link {
      padding: 0 10px;
      font-size: 27px;
      color: $white;
      @include transition;

      &:hover {
        color: $lightCoral;
      }
    }
  }
}

@media screen and (min-width: 48rem) {
  .footer {
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    align-items: flex-start;

    .link:first-of-type {
      padding-left: 0;
    }

    .contact-info {
      text-align: right;
      margin-top: 0;
    }

    .social-links {
      justify-content: flex-start;
      margin-top: 2rem;

      .footer-link {
        font-size: 20px;

        &:first-of-type {
          padding-left: 0;
        }
      }
    }

    .copyright {
      text-align: right;
      margin-top: 2rem;
    }
  }
}