.main-header {
  background: $midnightGreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $white;
  padding: $paddingMobile;
  position: relative;
  overflow: hidden;

  .header-title {
    @include h1Small;

    span {
      color: $lightCoral;
    }
  }

  .intro {
    @include p2;
  }

  .bg-pattern {
    position: absolute;
    bottom: 0;
  }

  .bg-pattern-about {
    position: absolute;
    bottom: 0;
    transform: translate(100%, 50%);
  }
}

.home-header {
  height: 400px;
}

.about-header {
  height: 330px;
}

// tablet media queries
@media screen and (min-width: 48rem) {
  .main-header {

    .header-title {
      @include h1Medium;
    }

    .section-title {
      @include h2Large;
    }

    .intro {
      line-height: 28px !important;
      width: 65%;
    }

    .bg-pattern-about {
      right: 0;
      transform: translate(50%, 0);
    }
  }

  .home-header {
    height: 450px;
  }
}

@media screen and (min-width: 90rem) {
  .home-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 165px;
    padding-right: 165px;

    .header-title {
      @include h1Large;
      text-align: left;
    }

    .intro {
      @include p1;
    }
  }
}