.main-header {
  background: $midnightGreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $white;
  padding: $paddingMobile;
  position: relative;
  overflow: hidden;

  .header-title {
    @include h1Small;

    span {
      color: $lightCoral;
    }
  }

  .intro {
    @include p2;
  }

  .bg-pattern {
    position: absolute;
    bottom: 0;
  }

  .bg-pattern-about {
    position: absolute;
    bottom: 0;
    transform: translate(100%, 50%);
  }

  .bg-pattern-left {
    display: none;
  }
}

.home-header {
  height: 400px;
}

.about-header {
  height: 330px;
}

// tablet media queries
@media screen and (min-width: 48rem) {
  .main-header {

    .header-title {
      @include h1Medium;
    }

    .section-title {
      @include h2Large;
    }

    .intro {
      line-height: 28px !important;
      width: 65%;
      margin: auto;
    }

    .bg-pattern-about {
      right: 0;
      transform: translate(50%, 0);
    }
  }

  .home-header {
    height: 450px;
  }
}

@media screen and (min-width: 90rem) {
  .main-header {
    padding-left: 165px;
    padding-right: 165px;
  }

  .home-header {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .header-title {
      @include h1Large;
      text-align: left;
    }

    .second-col {
      padding-left: 7rem;
    }

    .divider-lg {
      height: 4px;
      width: 50px;
      background: $raptureBlue;
    }

    .intro {
      @include p1;
      text-align: left;
      margin-top: 5rem;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    .bg-pattern {
      right: 0;
      transform: translateX(-50%);
    }

    .bg-pattern-left {
      display: block;
      position: absolute;
      left: 0;
      transform: translateX(-50%);
    }
  }

  .about-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;

    .section-title {
      font-size: 4rem !important;
      line-height: 6.25rem !important;
      margin: 0;
      align-self: flex-start;
      padding-top: 6rem;
    }

    .intro {
      margin: 0;
      @include p1;
      width: 100%;
    }

    .divider-lg-about {
      width: 50px;
      height: 4px;
      background: $lightCoral;
      margin-bottom: 4rem;
    }
  }
}