.navbar {
  background: $midnightGreen;
  display: flex;
  align-items: center;
  padding: $paddingMobile;

  .brand-logo {
    margin-right: auto;
  }
}

.hamburger-menu {
  width: 20px;
  cursor: pointer;
  display: inline-block;
  z-index: 777;
  @include transition;

  .bar {
    background: $white;
    width: 100%;
    height: 3px;
    margin: 4px 0;
    @include transition;
  }
}

.navbar-nav-mobile {
  display: flex;
  width: 0;
  height: 100vh;
  background: rgba($color: #000, $alpha: 0.5);
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  overflow: hidden;
  @include transition;
  z-index: 17;
  // transform: translateX(100%);

  .menu-mobile {
    width: 48%;
    background: $midnightGreen;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 auto;
    align-items: flex-start;
    padding: 9rem 0 6rem 3rem;
    list-style: none;
    position: relative;

    li {
      padding: 12px 0;

      &:last-of-type {
        margin-top: 12px;
        cursor: pointer;
        @include transition;
      }
    }

    .nav-mobile-link {
      text-decoration: none;
      color: $white;
      @include h3;
      @include transition;

      &:hover {
        color: $lightCoral;
      }
    }

    #last {
      border: 2px solid $white;
      border-radius: 24px;
      padding: 10px 2rem;
      cursor: pointer;
      @include transition;

      &:hover {
        background: $white;
        color: $darkGreen
      }
    }

    svg {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translateX(50%);
    }
  }
}

// nav mobile animation style
.show-mobile-nav {
  opacity: 1;
  // transform: translateX(0);
  width: 100%;
}

.animated {
  .bar {
    &:first-child {
      transform: translateY(7px) rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:last-child {
      transform: translateY(-7px) rotate(135deg);
    }
  }
}

// end nav mobile animation

.navbar-nav-large {
  display: none;
}