#services {
  padding: 4rem 1.5rem 3rem 1.5rem;
  background: $sacramentoStateGreen;
  color: $white;
  position: relative;
  overflow: hidden;

  .divider {
    width: 50px;
    height: 4px;
    background: $lightCoral;
  }

  .section-title {
    @include h2Small;
    width: 70%;
  }

  .services-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3.5rem;

    .service-card {
      margin-bottom: 3rem;

      &:last-child {
        margin-bottom: 0;
      }

      .service-title {
        @include h3;
        color: $lightCoral;
      }

      .service-info {
        @include p2;
        color: rgba(255, 255, 255, 0.8)
      }
    }
  }

  .bg-pattern {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50%);
  }
}

@media screen and (min-width: 48rem) {
  #services {
    padding: 6rem 6.125rem !important;

    .section-title {
      width: 80%;
    }

    .services-wrapper {
      .service-card {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 0;

        .service-text {
          width: 80%;
          margin-left: 2rem;
        }

        .service-title,
        .service-info {
          text-align: left;
        }
      }
    }
  }
}

@media screen and (min-width: 75rem) {
  #services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 165px !important;
    padding-right: 165px !important;

    .section-title {
      @include h2Large;
      width: 445px;
    }

    .service-card {
      align-items: flex-start !important;

      &:last-of-type {
        margin-bottom: 27px !important;
      }
    }

    .service-title {
      margin-top: 0;
    }

    .bg-pattern {
      bottom: 0 !important;
      top: unset;
    }
  }
}