#testimonials {
  background: $deepJungleGreen;
  padding: $paddingMobile;
  color: $white;
  text-align: center;
  position: relative;

  .section-title {
    @include h2Small;
    margin-top: 6rem;

    span {
      color: $raptureBlue;
    }
  }

  .testimonials-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

    .testimonial {
      margin-bottom: 3rem;

      &:last-child {
        margin-bottom: 6rem;
      }

      .testimonial-quote {
        @include p2;
        margin: 0 auto;
        transform: translateY(-25%);
      }

      .testimonial-name {
        @include h3;
        color: $raptureBlue;
        margin: 0 auto;
      }

      .testimonial-job {
        @include smallText;
      }

      .testimonial-picture {
        width: 62px;
        height: 62px;
        border-radius: 50%;
        border: 2px solid #c4fffe;
      }
    }
  }

  .bg-pattern {
    position: absolute;
  }

  .top {
    top: 0;
    left: 0;
  }

  .bottom {
    bottom: 0;
    right: 0;
  }
}

// tablet media queries
@media screen and (min-width: 48rem) {
  #testimonials {
    padding-left: 6.125rem;
    padding-right: 6.125rem;

    .section-title {
      margin-top: 3rem;
    }

    .testimonial-quote {
      transform: translateY(-30%) !important;
    }

    .testimonial:last-child {
      margin-bottom: 3rem !important;
    }
  }
}

@media screen and (min-width: 75rem) {
  .testimonials-wrapper {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

// desktop media queries
@media screen and (min-width: 90rem) {
  #testimonials {
    padding-left: 165px;
    padding-right: 165px;

    .section-title {
      @include h2Large;
      width: 932px;
      margin: 4rem auto 2rem auto;
    }

    .testimonials-wrapper {
      // flex-direction: row;

      .testimonial {
        margin: 3rem 1rem;

        .testimonial-quote {
          transform: translateY(-25%) !important;
        }
      }
    }
  }
}